r-circle {
    display: block;
    position: relative;
    --r-start-angle: 0;
    --r-outer-radius: auto;
    --r-inner-radius: auto;
    --r-origin-x: 50%;
    --r-origin-y: 50%;
    --r-stroke-width: 1px;
    --r-stroke-color: black;
    --r-layer-stroke-width: 1px;
    --r-layer-stroke-color: transparent;
    --r-direction: clockwise;
    /* clockwise anticlockwise */
    --r-range-max: 100;
    --r-range-min: 0;
}

r-circle::part(r-circle-border),
r-circle .r-circle-border {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--r-stroke-color);
}

r-circle::part(r-circle-layer),
r-circle .r-circle-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--r-layer-stroke-color);
}

r-circle::part(r-circle-content),
r-circle .r-circle-content {
    width: 100%;
    height: 100%;
}


r-svg-circle {
    display: block;
    width: 100px;
    height: 100px;
    background: red;
}