r-scroll-refresh {
    display: block;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    --r-max-refresh-heignt: 175px;
    --r-refresh-heignt: 125px;
    --r-min-time: 3000;
}

.r-scroll-refresh-transition {
    transition: 0.2s;
}

.r-scroll-refresh-circle {
    width: 22px;
    height: 22px;
    text-align: center;
}

.r-scroll-refresh-text {
    margin-left: 10px;
    margin-bottom: 3px;
}

.r-scroll-refresh-circle-hide {
    display: none;
}

.r-scroll-refresh-loading {
    font-size: 20px;
}

.r-scroll-refresh-loading-hide {
    display: none;
}