.r-absolute {
  position: absolute;
}

.r-absolute-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.r-absolute-horizontal {
  left: 50%;
  transform: translateX(-50%);
}

.r-absolute-center {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.r-absolute-top-left {
  top: 0;
  left: 0;
}

.r-absolute-top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.r-absolute-top-right {
  top: 0;
  right: 0;
}

.r-absolute-right-center {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.r-absolute-right-bottom {
  right: 0;
  bottom: 0;
}

.r-absolute-bottom-center {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.r-absolute-bottom-left {
  left: 0;
  bottom: 0;
}

.r-absolute-left-center {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}