r-scroll-virtual-grid-list {
    display: block;
    position: relative;
    --r-columns: 2;
    --r-avg-height: 130px;
    --r-column-gap: 10px;
    --r-row-gap: 10px;
}

.r-scroll-virtual-grid-list-item {
    box-sizing: border-box;
    word-wrap: break-word;
}