r-marquee {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;

  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  touch-action: pan-x;
  --marquee-animation-duration: 10s;
}