r-toast {
  padding: 10px 12px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.8);
  z-index: 6000000;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.r-toast-content {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  text-align: left;
  font-style: normal;
}

.r-toast-loading{
  text-align: center;
}

.r-toast-loading::before{
 content: '\e607';
}

.toast-loadingText {
}
.r-toast-text {
}

[css-name~="r-toast-hide"] {
  display: none;
}

[css-name~="r-toast-enter-from"] {
  opacity: 0;
}

[css-name~="r-toast-enter-active"] {
  transition: 0.3s;
}

[css-name~="r-toast-enter-to"] {
  opacity: 1;
}

[css-name~="r-toast-leave-from"] {
  opacity: 1;
}

[css-name~="r-toast-leave-active"] {
  transition: 0.3s;
}

[css-name~="r-toast-leave-to"] {
  opacity: 0;
}