r-scroll-refresh {
    display: block;
    height: 0px;
    overflow: hidden;
    --r-max-refresh-heignt: 175px;
    --r-refresh-heignt: 125px;
    --r-min-time: 500;
}

.r-scroll-refresh-transition {
    transition: 0.25s;
}

.r-scroll-refresh-hide {
    display: none !important;
}

.r-scroll-refresh-icon {
    font-family: "iconfont";
}

.r-scroll-refresh-icon::before {
    content: '\e641';
}

.r-scroll-refresh-loading {
    font-family: "iconfont";
    animation: rotating 2s linear infinite;
}

.r-scroll-refresh-loading::before {
    content: '\e607';
}

.r-scroll-refresh-progress{
    width: 22px;
    height: 22px;
}