 .button {
     cursor: pointer;
     display: inline-flex;
     align-items: center;
     background-color: var(--primary-color);
     padding: 3px 10px;
     border-radius: 3px;
     color: white;
     font-size: 14px;

     .r-prve {
         display: none;
         font-family: "iconfont" !important;
         font-display: fallback;
         animation: rotating 2s linear infinite;

         &::before {
             content: '\e607';
         }
     }

     .r-next {
         margin-left: 3px;
         font-family: "iconfont" !important;
         font-display: fallback;
         animation: rotating 2s linear infinite;

         &::before {
             content: '\e607';
         }
     }

     &[css-name~="loading"] {
         background: var(--primary-loading-color);

     }
 }