r-nested-scroll {
    max-height: 100vh;
    overflow: hidden;
    touch-action: none;
    position: relative;
    display: block;
    /* vertical horizontal*/
    --r-scrolling-direction: vertical;

}