.r-scroll-flotage {
    position: sticky;
    z-index: 11;
}

.r-scroll-flotage-sticky {}

.r-scroll-flotage-un-sticky {}

.r-scroll-flotage-un-sticky-top {}

.r-scroll-flotage-un-sticky-bottom {}


.r-scroll-flotage-measure {
    width: 0;
    height: 0;
}