r-nested-scroll {
    max-height: 100vh;
    overflow: hidden;
    touch-action: none;
    position: relative;
    display: block;
    /* vertical horizontal*/
    --r-scroll-direction: vertical;
    /*  adsorb  none*/
    --r-scroll-snap: adsorb;
}