r-tab {
  display: flex;
  max-width: 100%;
  overflow: auto;
  position: relative;
  touch-action: pan-x;
  --r-trigger: click;
}

r-tab .r-tab-active-line {
  background: cyan;
  position: absolute;
  width: 60%;
  height: 3px;
  left: 50%;
  bottom: 3px;
  transform: translateX(-50%);
}

.r-tab-vertical {
  flex-direction: column;
  touch-action: pan-y;
}

r-tab[css-name~="r-tab-ratio"] r-tab-item {
  position: relative;
}

r-tab[css-name~="r-tab-ratio"] .r-tab-item-ratio-line {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(200, 200, 200);
  height: 0.8px;
}