r-scroll {
  display: block;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  max-height: 100vh;
  -webkit-overflow-scrolling: touch;
}


[css-name~="r-scroll-disabled"] {
  overflow: hidden;
}