@keyframes rotating {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotatingCenter {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotatingHorizontalCenter {
    0% {
        transform: translateX(-50%) rotate(0);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

@keyframes r-skeleton-loading {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}