.r-dropdown {
  position: relative;
  transform: translateX(0px);
  display: inline-flex;

  .r-dropdown-content {
    .r-dropdown-text {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .r-dropdown-label {
      font-size: 13px;
    }

    .r-dropdown-icon {
      display: block;
      transform: rotate(0deg);
      transition: transform 0.2s;

      &.r-dropdown-icon-visible {
        transform: rotate(180deg);
      }
    }

    .iconfont {
      display: block;
      font-size: 12px;
    }
  }

  .r-dropdown-content-act {
    color: var(--primary-act-color);
  }
}

.r-dropdown-grid-list-select-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .reset {
    outline: none;
    border: none;
    cursor: pointer;
  }

  .confirm {
    outline: none;
    border: none;
    cursor: pointer;
  }
}