r-falls {
  display: block;
  position: relative;
  overflow: hidden;
  --r-columns: 2;
}

r-falls[useAttrs="true"],
r-falls[useAttrs] {
  --r-columns: r-attr(r-columns);
  --r-min-auto-width: r-attr(r-min-auto-width);
  --r-gap: r-attr(r-gap);
  --r-row-gap: r-attr(r-row-gap);
  --r-column-gap: r-attr(r-column-gap);
}