r-scroll-sticky {
    display: block;
    position: sticky;
    z-index: 11;  
}

.r-scroll-sticky-measure {
    width: 0;
    height: 0;
}

r-scroll-fixed {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 11;
}

