r-scroll-sticky {
    display: block;
    position: sticky;
    z-index: 11;
    /* top: 10px;
    bottom: 10px;
    background: cyan;
    --r-active-top: 10px;
    --r-active-bottom: 10px; */
  
}

.r-scroll-sticky-measure {
    width: 0;
    height: 0;
}

r-scroll-fixed {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 11;
}

