@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1716566699099') format('woff2'),
    url('iconfont.woff?t=1716566699099') format('woff'),
    url('iconfont.ttf?t=1716566699099') format('truetype');
  font-display: fallback;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: fallback;
}



.loading-icon {
  --color: inherit;
  height: 24px;
  width: 24px;
  line-height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}