r-pulldown {
    display: flex;
    cursor: pointer;
    align-items: center;
}

r-dialog.r-pulldown-dialog {
    --r-orientation: top;
}

r-pulldown .r-pulldown-default-icon {
    transition: 0.25s;
}

[css-name~="r-pulldown-show"] .r-pulldown-default-icon {
    transform: rotate(180deg);
}

[css-name~="r-pulldown-hide"] .r-pulldown-default-icon {
    transform: rotate(0deg);
}