r-grid {
  display: grid;
  overflow: hidden;
}

r-grid[inline] {
  display: inline-grid;
}

r-grid[inline="true"] {
  display: inline-grid;
}

r-grid[inline="false"] {
  display: grid;
}

r-grid[useAttrs="true"],
r-grid[useAttrs] {
  --r-columns: r-attr(r-columns);
  --r-min-auto-width: r-attr(r-min-auto-width);
  --r-gap: r-attr(r-gap);
  --r-row-gap: r-attr(r-row-gap);
  --r-column-gap: r-attr(r-column-gap);
  --r-grid-wrap: r-attr(r-grid-wrap);
  --r-grid-stretch: r-attr(r-grid-stretch);
}