r-scroll-virtual-falls-list {
    display: block;
    position: relative;
    --r-columns: 2;
    --r-avg-height: 200px;
    --r-column-gap: 8px;
    --r-row-gap: 12px;
    background: chartreuse;
}

.r-scroll-virtual-falls-list-item {
    background: coral;
    word-wrap: break-word;
    min-height: 200px;
}