r-scroll {
  display: block;
  overflow: hidden;
  --r-element-style: r-prop;
  --r-content-style: r-prop;
}

r-scroll::part(r-scroll-content),
r-scroll .r-scroll-content {
  filter: opacity(1);
}

r-scroll::part(r-scroll-element),
r-scroll .r-scroll-element {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  max-height: 100vh;
  -webkit-overflow-scrolling: touch;
}


r-scroll.r-scroll-disabled-scroll::part(r-scroll-element),
r-scroll.r-scroll-disabled-scroll .r-scroll-element {
  overflow: hidden;
}