.r-default-error,
.r-default-load-error,
.r-default-begin,
.r-default-load,
.r-default-loading,
.r-default-finished,
.r-default-empty {
  min-height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.r-global-error-text,
.r-global-load-error-text,
.r-global-begin-text,
.r-global-load-text,
.r-global-loading-text,
.r-global-finished-text,
.r-global-empty-text {
  text-align: center;
}

.r-global-error-img,
.r-global-load-error-img,
.r-global-begin-img,
.r-global-load-img,
.r-global-loading-img,
.r-global-finished-img,
.r-global-empty-img {
  width: 100%;
  display: block;
}


.r-global-error-text,
.r-global-load-error-text {
  color: red;
}

.r-global-begin-loading,
.r-global-loading {
  display: flex;
  justify-content: center;
}




.r-loading-mask {
  position: relative;

  .r-loading-mask-states {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .r-error,
  .r-begin,
  .r-loading,
  .r-empty {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    min-height: auto;
    background: rgba(255, 255, 255, 1);
  }
}


.r-loading-load {
  .intersection {
    min-height: 1px;
  }

  .r-global-load-error-text,
  .r-global-finished-text,
  .r-global-loading-text,
  .r-global-load-text {
    height: 50px;
    line-height: 50px;
  }


}