.r-scroll {
  position: relative;
  overflow: auto;
  max-height: 100vh;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.r-scroll[data-scroll="false"] {
  overflow-x: hidden;
  overflow-y: hidden;
}
