r-pulldown {
    display: block;

}

r-pulldown::part(r-pulldown-content),
.r-pulldown-content {
    display: flex;
    align-items: center;
}

r-pulldown::part(r-pulldown-icon) {
    transition: 0.25s;
}

.r-pulldown-show::part(r-pulldown-icon) {
    transform: rotate(180deg);
}