r-scroll {
    display: block;
    filter: opacity(1);
    overflow: hidden;
}

r-scroll::part(r-scroll-element){
    background: yellow;
    display: block;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

}