.r-image {
  background: chartreuse;
  display: inline-block;
  .r-picture {
    display: block;
    width: 100%;
    height: 100%;
  }
  .r-picture-error {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .r-picture-loading {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}
