r-dialog {
  position: fixed;
  overflow: hidden;
  --r-orientation: center;
  --r-blank-inner: margin;
  --r-back-pressed: close;
  --r-overlay-click: close;
  --r-blank-click: close;
  --r-overlay-visibility: visible;
}

r-dialog-close {
  cursor: pointer;
}

r-dialog[useAttrs="true"],
r-dialog[useAttrs] {
  --r-orientation: r-attr(r-orientation);
  --r-back-pressed: r-attr(r-back-pressed);
  --r-overlay-click: r-attr(r-overlay-click);
  --r-blank-click: r-attr(r-blank-click);
  --r-blank-inner: r-attr(r-blank-inner);
  --r-fill: r-attr(r-fill);
  --r-blank-left: r-attr(r-blank-left);
  --r-blank-right: r-attr(r-blank-right);
  --r-blank-top: r-attr(r-blank-top);
  --r-blank-bottom: r-attr(r-blank-bottom);
  --r-overlay-class: r-attr(r-overlay-class);
  --r-overlay-visibility: r-attr(r-overlay-visibility);
  --r-destroy: r-attr(r-destroy);
}

r-dialog[destroy="true"],
r-dialog[destroy] {
  --r-destroy: remove;
}

[css-name~="r-dialog-hide"] {
  display: none;
}

[css-name~="r-dialog-top"] {
  left: 0;
  top: 0;
  width: 100vw;
}

[css-name~="r-dialog-bottom"] {
  left: 0;
  bottom: 0;
  width: 100vw;
}

[css-name~="r-dialog-left"] {
  left: 0;
  top: 0;
  height: 100vh;
}

[css-name~="r-dialog-right"] {
  right: 0;
  top: 0;
  height: 100vh;
}

[css-name~="r-dialog-center"] {
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
}

r-dialog::part(r-dialog-content),
r-dialog .r-dialog-content {
  background: rgb(244, 244, 244);
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}

/**********************/
[css-name~="r-dialog-top-enter-from"] .r-dialog-content,
[css-name~="r-dialog-top-enter-from"]::part(r-dialog-content) {
  transform: translateY(-100%);
}

[css-name~="r-dialog-top-enter-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-top-enter-to"]::part(r-dialog-content) {
  transform: translateY(0%);
}

[css-name~="r-dialog-top-leave-from"]::part(r-dialog-content) {
  transform: translateY(0%);
}

[css-name~="r-dialog-top-leave-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-top-leave-to"]::part(r-dialog-content) {
  transform: translateY(-100%);
}

/**********************/
[css-name~="r-dialog-bottom-enter-from"]::part(r-dialog-content) {
  transform: translateY(100%);
}

[css-name~="r-dialog-bottom-enter-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-bottom-enter-to"]::part(r-dialog-content) {
  transform: translateY(0%);
}

[css-name~="r-dialog-bottom-leave-from"]::part(r-dialog-content) {
  transform: translateY(0%);
}

[css-name~="r-dialog-bottom-leave-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-bottom-leave-to"]::part(r-dialog-content) {
  transform: translateY(100%);
}

/**********************/
[css-name~="r-dialog-left-enter-from"]::part(r-dialog-content) {
  transform: translateX(-100%);
}

[css-name~="r-dialog-left-enter-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-left-enter-to"]::part(r-dialog-content) {
  transform: translateX(0%);
}

[css-name~="r-dialog-left-leave-from"]::part(r-dialog-content) {
  transform: translateX(0%);
}

[css-name~="r-dialog-left-leave-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-left-leave-to"]::part(r-dialog-content) {
  transform: translateX(-100%);
}

/**********************/
[css-name~="r-dialog-right-enter-from"]::part(r-dialog-content) {
  transform: translateX(100%);
}

[css-name~="r-dialog-right-enter-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-right-enter-to"]::part(r-dialog-content) {
  transform: translateX(0%);
}

[css-name~="r-dialog-right-leave-from"]::part(r-dialog-content) {
  transform: translateX(0%);
}

[css-name~="r-dialog-right-leave-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-right-leave-to"]::part(r-dialog-content) {
  transform: translateX(100%);
}

/**********************/
[css-name~="r-dialog-center-enter-from"]::part(r-dialog-content) {
  opacity: 0;
}

[css-name~="r-dialog-center-enter-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-center-enter-to"]::part(r-dialog-content) {
  opacity: 1;
}

[css-name~="r-dialog-center-leave-from"]::part(r-dialog-content) {
  opacity: 1;
}

[css-name~="r-dialog-center-leave-active"]::part(r-dialog-content) {
  transition: 0.3s;
}

[css-name~="r-dialog-center-leave-to"]::part(r-dialog-content) {
  opacity: 0;
}